*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 8px;
}

/* .super-container{
     position: relative; 
} */

.main-nav {
    top: 0;
    width: 100%;  
    background-color: #7f7ff0;
}

.nav-item{
    background-color: #7f7ff0;  
    text-decoration: none;
    text-shadow: none;
}
.font-design-nav{
    font-size: 2rem;  
    background-color: #7f7ff0;  
    
}

/* .font-design-nav a{
    font-size: 2rem;   
    text-decoration: none; 
    color: #fff;
} */

.nav-item .nav-link:hover{
    color: #fff;
    background-color: #8585fc;
}

.logo-image-nav{
    max-width: 4rem;
    max-height: 4rem;
}

.shadow {
box-shadow: 0px 1px 1px 0px #a1a0a0;  
}

.div-nav-control ul li a{
    color: white;
}

.list-group-item {
    padding: 0; /* Remove the default padding */
  }



  .main-container{
    width: 100%;
    height: 6rem;
    background-color: #8585fc;
    margin-top: 0;
    padding-top: 1rem;
    /* position: absolute; */
 } 

 .main-container-row{   
    justify-content: center;
}

.font-design-main a{
    font-size: 2rem;   
    color: #fff; 
    text-decoration: none;
}

 .main-container-col{
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ddd; */
    /* background-color: #7f7ff0; */
 } 

 .main-container div{

    color: #f8f9fa;
    text-align: center;
 }

 


.main-container-div:hover{
    border-bottom-style: solid;   
    border-width: 1rem; 
    border-color: #acb0f3;
    border-bottom-style: outset;
    background-color: transparent;
}

.main-container-div a:hover{
    color: #fff;
    
}





/* Main Section */

.section-div{
    /* display: none; */
    margin-top: 9rem;
    padding-top: 6.6rem;
    background-color: #8585fc;
}


.main-section{
    background-color: #8585fc;
    padding-top: 1rem;
}

#output{
    font-size: 2rem;
    padding-top: 4rem;
}

#copyright{
    font-size: 2rem;
}

  /* Google Search API  */

  /* Customize the search box */

  .gsc-control-cse {
    background-color: #8585fc;
  }

.gsc-search-box {
    border: 0;
    padding: 0px;
    margin:0;
  
}

/* Customize the search input */
.gsc-input {
    border: none;
    padding: 0;
    width: 200px;
}

/* Customize the search button */
.gsc-search-button {
    background-color: #ffffff;
    color: #7f7ff0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Customize search result styles */
.gsc-webResult {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.gsc-result-info {
    font-weight: bold;
    margin-bottom: 5px;
}

.gsc-result-url {
    color: #7f7ff0;
}

.gsc-thumbnail-inside {
    display: none; /* Hide thumbnails */
}


 